* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0, 105, 62);
  background: radial-gradient(
    circle,
    rgba(0, 105, 62, 1) 0%,
    rgba(1, 135, 73, 1) 50%,
    rgba(0, 105, 62, 1) 100%
  );
}

.columns {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15vh 75vh 2vh 6vh;
  place-items: center;
  margin: 0 auto;
  width: 90vw;
}
.helprow {
  display: flex;
  justify-content: space-between;
  width: 85px;
  grid-row: 3;
  grid-column: 4/9;
}
#pen {
  font-size: 1.4rem;
  font-weight: bold;
}
#button:active {
  opacity: 0.6;
}
#word {
  color: rgb(224, 223, 220);
  font-size: 2rem;
}
.lifes {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2px;
  color: rgb(224, 223, 220);
  font-size: 1.2rem;
}
#life {
  color: #cc0000;
}
#life_html {
  visibility: hidden;
}
.answer_box {
  visibility: hidden;
  background-color: #5c5e5e;
  color: rgb(224, 223, 220);
  border: hidden;
  border-radius: 4px;
  height: 2rem;
  outline: none;
  padding: 0 5px;
}
::placeholder {
  color: rgb(224, 223, 220);
}
a:link {
  color: rgb(28, 29, 29);
  text-decoration: none;
  text-decoration-color: rgb(28, 29, 29);
}
a:visited {
  color: rgb(28, 29, 29);
  text-decoration: none;
  text-decoration-color: rgb(28, 29, 29);
}

@media (min-width: 320px) {
  .columns {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15vh 75vh 4vh 6vh;
    place-items: center;
  }
  .title {
    color: rgb(224, 223, 220);
    letter-spacing: 0.1em;
    text-shadow: rgb(255, 255, 255) 0px -1px 0px, rgb(46, 46, 46) 0px 1px 0px,
      rgb(44, 44, 44) 0px 2px 0px, rgb(42, 42, 42) 0px 3px 0px,
      rgb(40, 40, 40) 0px 4px 0px, rgb(38, 38, 38) 0px 5px 0px,
      rgb(36, 36, 36) 0px 6px 0px, rgb(34, 34, 34) 0px 7px 0px,
      rgb(32, 32, 32) 0px 8px 0px, rgb(30, 30, 30) 0px 9px 0px,
      rgb(28, 28, 28) 0px 10px 0px, rgb(26, 26, 26) 0px 11px 0px,
      rgb(24, 24, 24) 0px 12px 0px, rgb(22, 22, 22) 0px 13px 0px,
      rgb(20, 20, 20) 0px 14px 0px, rgb(18, 18, 18) 0px 15px 0px,
      rgba(0, 0, 0, 0.9) 0px 22px 30px;
    --darkreader-inline-color: #d3cfca;
    --darkreader-inline-bgimage: initial;
    --darkreader-inline-bgcolor: #44525f;
    display: grid;
    grid-column: 4/9;
    grid-row: 1/2;
    place-items: center;
    min-width: 85vw;
  }
  .area {
    width: 100%;
    height: 75%;
    display: grid;
    grid-column: 2/11;
    place-items: center;
    background-color: rgb(28, 29, 29);
    border-radius: 80px;
    overflow: hidden;
    grid-row: 2/3;
    margin: 0;
  }
  .area_UI {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
  }
  #word {
    font-size: 1rem;
  }
  #button {
    visibility: hidden;
    display: block;
    block-size: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: #5c5e5e;
    color: rgb(224, 223, 220);
  }
  .links {
    grid-column: 4/9;
    grid-row: 4;
    color: rgb(28, 29, 29);
    text-decoration: none;
    text-decoration-color: rgb(28, 29, 29);
    font-weight: bold;
  }
  .help {
    color: rgb(28, 29, 29);
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    transition: padding 0.5s;
  }
  .help-hover:hover {
    position: relative;
    padding-bottom: 5px;
    color: rgb(224, 223, 220);
  }
  .help-hover:active {
    opacity: 0.8;
  }
  .difficulty {
    grid-row: 3;
    grid-column: 4;
  }
  .dif_area {
    align-items: stretch;
    background-color: rgb(28, 29, 29);
    padding: 3px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
  }
  .dif_button {
    padding: 3px;
    background-color: #5c5e5e;
    color: rgb(224, 223, 220);
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin: 3px 0px;
    font-size: 0.8rem;
  }
  .dif_button:active {
    color: #0080ff;
    background-color: rgb(224, 223, 220);
  }
}
@media (min-width: 720px) {
  .columns {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15vh 75vh 4vh 6vh;
    place-items: center;
  }
  .title {
    color: rgb(224, 223, 220);
    letter-spacing: 0.1em;
    text-shadow: rgb(255, 255, 255) 0px -1px 0px, rgb(46, 46, 46) 0px 1px 0px,
      rgb(44, 44, 44) 0px 2px 0px, rgb(42, 42, 42) 0px 3px 0px,
      rgb(40, 40, 40) 0px 4px 0px, rgb(38, 38, 38) 0px 5px 0px,
      rgb(36, 36, 36) 0px 6px 0px, rgb(34, 34, 34) 0px 7px 0px,
      rgb(32, 32, 32) 0px 8px 0px, rgb(30, 30, 30) 0px 9px 0px,
      rgb(28, 28, 28) 0px 10px 0px, rgb(26, 26, 26) 0px 11px 0px,
      rgb(24, 24, 24) 0px 12px 0px, rgb(22, 22, 22) 0px 13px 0px,
      rgb(20, 20, 20) 0px 14px 0px, rgb(18, 18, 18) 0px 15px 0px,
      rgba(0, 0, 0, 0.9) 0px 22px 30px;
    --darkreader-inline-color: #d3cfca;
    --darkreader-inline-bgimage: initial;
    --darkreader-inline-bgcolor: #44525f;
    display: grid;
    grid-column: 4/9;
    grid-row: 1/2;
    place-items: center;
    min-width: 85vw;
  }
  .columns .area {
    height: 75%;
    grid-column: 5/8;
    display: grid;
    place-items: center;
    background-color: rgb(28, 29, 29);
    border-radius: 80px;
    overflow: hidden;
    grid-row: 2/3;
    margin: 0;
  }
  .area_UI {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
  }
  #word {
    font-size: 2rem;
  }
  #button {
    visibility: hidden;
    display: block;
    block-size: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: #5c5e5e;
    color: rgb(224, 223, 220);
  }
  .links {
    grid-column: 4/9;
    grid-row: 4;
    color: rgb(28, 29, 29);
    text-decoration: none;
    text-decoration-color: rgb(28, 29, 29);
    font-weight: bold;
  }
  .help {
    color: rgb(28, 29, 29);
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    transition: padding 0.5s;
  }
  .help-hover:hover {
    position: relative;
    padding-bottom: 5px;
    color: rgb(224, 223, 220);
  }
  .help-hover:active {
    opacity: 0.8;
  }
  .difficulty {
    grid-row: 3;
    grid-column: 5/6;
  }
  .dif_area {
    background-color: rgb(28, 29, 29);
    padding: 8px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
  }
  .dif_button {
    padding: 6px;
    background-color: #5c5e5e;
    color: rgb(224, 223, 220);
    border: solid 1px #5c5e5e;
    cursor: pointer;
    border-radius: 50px;
    margin: 0px 2px;
  }
  .dif_button:active {
    color: #0080ff;
    background-color: rgb(224, 223, 220);
  }
}
@media (min-width: 2560px) {
  .columns {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15vh 75vh 4vh 6vh;
    place-items: center;
  }
  .title {
    font-size: 5rem;
    color: rgb(224, 223, 220);
    letter-spacing: 0.1em;
    text-shadow: rgb(255, 255, 255) 0px -1px 0px, rgb(46, 46, 46) 0px 1px 0px,
      rgb(44, 44, 44) 0px 2px 0px, rgb(42, 42, 42) 0px 3px 0px,
      rgb(40, 40, 40) 0px 4px 0px, rgb(38, 38, 38) 0px 5px 0px,
      rgb(36, 36, 36) 0px 6px 0px, rgb(34, 34, 34) 0px 7px 0px,
      rgb(32, 32, 32) 0px 8px 0px, rgb(30, 30, 30) 0px 9px 0px,
      rgb(28, 28, 28) 0px 10px 0px, rgb(26, 26, 26) 0px 11px 0px,
      rgb(24, 24, 24) 0px 12px 0px, rgb(22, 22, 22) 0px 13px 0px,
      rgb(20, 20, 20) 0px 14px 0px, rgb(18, 18, 18) 0px 15px 0px,
      rgba(0, 0, 0, 0.9) 0px 22px 30px;
    --darkreader-inline-color: #d3cfca;
    --darkreader-inline-bgimage: initial;
    --darkreader-inline-bgcolor: #44525f;
    display: grid;
    grid-column: 4/9;
    grid-row: 1/2;
    place-items: center;
    min-width: 85vw;
  }
  .columns .area {
    width: 100%;
    height: 75%;
    display: grid;
    grid-column: 5/8;
    place-items: center;
    background-color: rgb(28, 29, 29);
    border-radius: 80px;
    overflow: hidden;
    grid-row: 2/3;
    margin: 0;
  }
  .area_UI {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 5rem;
  }
  #word {
    font-size: 2rem;
  }
  #button {
    visibility: hidden;
    display: block;
    block-size: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: #5c5e5e;
    color: rgb(224, 223, 220);
    font-size: 3rem;
  }
  .links {
    grid-column: 4/9;
    grid-row: 4;
    color: rgb(28, 29, 29);
    text-decoration: none;
    text-decoration-color: rgb(28, 29, 29);
    font-weight: bold;
    font-size: 2.5rem;
  }
  .lifes {
    font-size: 2.5rem;
  }
  #word {
    font-size: 3rem;
  }
  .answer_box {
    height: 4rem;
    width: 100%;
  }
  ::placeholder {
    font-size: 2rem;
  }
  .help {
    color: rgb(28, 29, 29);
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    transition: padding 0.5s;
    font-size: 2.5rem;
  }
  .help-hover:hover {
    position: relative;
    padding-bottom: 5px;
    color: rgb(224, 223, 220);
  }
  .help-hover:active {
    opacity: 0.8;
  }
  .difficulty {
    grid-row: 3;
    grid-column: 5/6;
  }
  .dif_area {
    background-color: rgb(28, 29, 29);
    padding: 15px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
  }
  .dif_button {
    padding: 15px;
    background-color: #5c5e5e;
    color: rgb(224, 223, 220);
    border: solid 1px #5c5e5e;
    cursor: pointer;
    border-radius: 35px;
    margin: 0px 6px;
    font-size: 2rem;
  }
  .dif_button:active {
    color: #0080ff;
    background-color: rgb(224, 223, 220);
  }
}
